<header>
    <div class="row">
        <div class="column">
            <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmHAkVhnMbLIxZfjOVkuH1gYBtBKRBHbkEjA&s" alt="logo">
        </div>
        <div class="column">
            <h1>Povodně a záplavy – co dělat a jak ochránit svůj majetek?</h1>
        </div>
    </div>
  <img class="img-str" src="https://www.kbpojistovna.cz/getoptimizedimage/e3b01e08-436c-465b-afe0-e0ec6b485ddf/flood-desktop-dark?siteName=KP&maxsidesize=3840" alt="">  
</header>
